extends ../layout

block content
    include ../mixins/animalCard
    div.animals-header
        div.animal-header-title New Animals
        div
            if user && user.is('user')
                a.button.primary(href='/animal/add') Create New Animal

    ul.animal-list
        each animal in animals
            li
                +animalCard(animal)