extends ../layout

block content
    include ../mixins/animalCard
    div.animal-header
        div.animal-header-title New Animals
        div
            a.button.primary(href='/animal/add') Create New Animal

    ul.animal-list
        each animal in animals
            li
                +animalForm(animal)