extends ../layout

block content
    div.container
        div.content
            div.animal-header-row
                h1.animal-title=animal.name
            p.created-on Created
                strong.emphasize #{animal.friendlyCreatedDate}
                | by
                strong.emphasize #{animal.user.first_name}

            img.animal-image(src=animal.image_url)