extends layout
block content
    div.explain-bg
        h3.big-explain Avian
            p.little-explain Avian means "relating to birds"; the latin root avis means bird. The creation of this swooshy was based on a specific kind of parrot called the Indian ring-necked parakeet. This swooshy has unique colorings, and can mimic sounds to communicate with its flock.

        h3.big-explain Reptilian
            p.little-explain Reptilian means "relating to the characteristics of reptiles". Reptiles have backbones, scales, and at least one lung. Keeping that in mind, this swooshy was based off the green mamba snake which is native to Africa, but the tail is based off of a rattlesnake.

        h3.big-explain Aquatic
            p.little-explain Aquatic means "relating to water." Aquatic animals need some way to maneuver in the water, so this swooshy has webs on its legs, paws, and ears, with a dorsal fin for steering and a long webbed tail. It can also breathe underwater with gills. The biggest inspirations for this swooshy's design were Avatar 2, Wings of Fire, and nurse sharks.

        h3.big-explain Arboreal
            p.little-explain Arboreal means "living in trees." Arboreal animals have unique locomotion to navigate dense forest environments, as well as being agile and quick to find food. For this inspiration, I looked to cats. The jaguar, being the only living member in the Americas of the genus panthera, was a great choice. Jaguars, native to the forests, have unique coloration that make them harder to see. To the human eye, it's obvious, but many animals don't see the same colors that we do.

        h3.big-explain Nocturnal
            p.little-explain Nocturnal means "occurring or active at night." This animal lives in the desert, buries itself in the day, and surfaces in the night to hunt. With huge ears that help nighttime hunting. The fennec fox was my inspiration for this swooshy type.

        h3.big-explain Scavenger
            p.little-explain Scavengers are defined as "animals that feed on carrion, dead plant material or refuse." Scavengers are very unique and pick up the trash of the ecosystem. For being the garbage team of our planet, they sure get a lot of hate for being gross or ugly animals. But one animal, the California condor, is pretty infamous for having the largest wingspan in the US.