extends layout
block content
    h3.big-explain Avian
        p.little-explain Avian means "relating to birds", the latin root avis means bird. The creation of this swooshy was based on a tropical parrot called an Indian