extends layout
block content
    div.explain-bg
        h3.big-explain Guests
            p.little-explain Guests can view animals and comment their thoughts on them. They can also delete their own comments.
        h3.big-explain Users
            p.little-explain Users can do everything that guests can. They can also create, edit, and delete their own animals.
        h3.big-explain Admins
            p.little-explain Admins can do everything that guests can. They can also delete everyone's animals and comments, but cannot create their own animals.