body {
  background: url('https://media.istockphoto.com/id/583853510/vector/seamless-green-forest.jpg?s=612x612&w=0&k=20&c=8DXph7EGIL47xU-PWpa5xq0GFv2QgpAbVAouvkn2LDk=');
  margin: 0;
  padding: 0;
}

option, button, select, textarea {
  font-size: 16px;
}

* {
  font-family: 'Patrick Hand', cursive;
}

html {
  margin: 0;
  padding: 0;
}

a {
  color: #ff6c5c;
  display: inline-block;
  margin-right: 24px;
  text-decoration: none;
}


a.nav-link, a.main {
  color: #F7F7F7;
}

.container {
  max-width: 1400px;
  margin: 32px auto;
}
.container.animal {
  max-width: 1024px;
}

.content {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  background: white;
  padding: 50px;
  border-radius: 12px;
}

.page-header {
  font-size: 20px;
  color: #F7F7F7;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.time {
  color: #cccccc;
  font-size: 12px;
}

/*all todo items styles*/
.section-list {
  margin: 32px 0;
}

.list-header {
  font-size: 16px;
  color: #cccccc;
  margin-bottom: 16px;
}

.table-container {
  overflow: hidden;
  border-radius: 16px;
  max-width: 800px;
  border: 1px solid #660000;
  margin-bottom: 16px;
}

table.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  background:#cccccc;
}

.table th, .table td {
  padding: 12px 25px;
}

.table th {
  color: #cccccc;

}

.table td {
  color: #cccccc;
  font-size: 16px;
}


.completed .table td {
  color: #cccccc;
}

.table td a {
  font-size: 16px;
}

.table tr:nth-child(2n) {
  background: #cccccc;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}


/*form styling*/

.button-row {
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #660000;
}

.button {
  background-color: #660000;
  color: #ffffff;
  font-size: 1.2em;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: #8c0303;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.button.primary {
  background-color: #0a5c0e;
  color: #ffffff;
  font-size: 1.2em;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.button.primary:hover{
  background-color:#0f8c16;
}
label {
  display: block;
  color: #660000;
  font-weight: bold;
  margin-bottom: 4px;
}

input, textarea, select, option {
  border-radius: 8px;
  padding: 8px 12px;
  border: 1px solid #660000;
  font-size: 16px;
}


select {
  padding: 8px;
  background: white;
  border-radius: 6px;
  border: 1px solid #660000;
}

.form-button-row {
  padding-top: 16px;
  margin-top: 16px;

  border-top: 1px solid #660000;
}

.form-header {
  font-size: 28px;
  font-weight: bold;
  color: #660000;
  margin-bottom: 16px;
}

.input-form-row {
  display: flex;
  align-items: flex-start;
}

.form-label {
  font-size: 24px;
}
.input-container {
  margin-bottom: 16px;
}

.input-container.wide input {
  width: 325px;
}
.input-container.super-wide input {
  max-width: 800px;
  width: 100%;
}

.input-form-row .input-container {
  margin-right: 16px;
}

.helper-text {
  font-size: 16px;
  color: #660000;
  margin-top: 4px
}

.info-button {
  height: 20px;
  width: 20px;
  margin: 0 8px;
}
/*nav style*/


nav {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  background: #660000;
  text-shadow: 2px 2px #000000;
}
a.nav-link:hover, a.main:hover{
  color: #d2bccf;
}

a.nav-link, a.main {
  font-size: 40px;
}

nav ul {
  list-style: none;
  margin: 0;
  display: flex;
}

nav li {
  padding: 20px 20px;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h3 {
  color: #660000;
  font-size: 20px;
}

nav {
  padding: 0 32px;
}


ul.comment-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.comment {
  padding: 0;
}

.comment-list li {

  border-bottom: 1px solid #660000;
  padding: 1rem 0;
  margin: 1.5rem 0;
}

.comment-list li:last-child {
  border-bottom: none;
}

.comment-header {
  display: flex;
  margin-bottom: .5rem;
}

.comment-author {
  color: #660000;
  font-weight: bold;
  font-size: 16px;
}

.comment-time {
  margin-left: 1rem;
  color: #a14d4d;
}

.comment-body {
  color: #3b1e1e;
}

.comment-section-title {
  color: #3b1e1e;
}

.comment-section {
  margin-top: 48px;
}


.comment-form, .reply-form {
  padding: 1rem;
  border-radius: 8px;
  background-color: #ffdbdb;
}


.reply-form .input-container {
  margin-bottom: 0;
}

ul.reply-list {
  list-style: none;
  margin: 0 20px;
  padding: 0;
}

.reply-list li{
  margin-left: 2rem;
}

.reply-header{
  margin-top: 1rem;
  margin-bottom: .5rem;
  color: #a14d4d;
}

#error {
  color: #660000;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul#error2 {
  padding: 0;
}

.emphasize {
  margin: 0 .5ch;
}

.created-on{
  color: #7d3e3e;
  font-size: 20px;
}

.animal-body{
  color: #3b1e1e;
  max-width: 120ch;
}

.animal-backstory {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  margin: 0px;
  font-weight: lighter;
  font-size: 20px;
}
.animal-title{
  color: #0F172A;
  font-size: 36px;
}

.animal-image{
  width: 100%;
}

.card{
  width: 400px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  border: 2px solid black;
  border-radius: 12px;
  overflow: hidden;
  background: white;
  font-size: 20px;
}

.card:hover{
  transform: scale(1.1);
  transition: all 300ms ease;
}
.card-image{
  width: 100%;
  height: auto;
}


.card-body{
  padding: 1rem;
}

.card-title{
  font-weight: bold;
  color: #0F172A;
  font-size: 20px;
}
.card-created-on{
  margin: 4px 0;
}

.card-body{
  color: #334155;
}

.animal-list{
  display: flex;
  list-style: none;
  gap: 20px;
  flex-wrap: wrap;
}

.animal-list li{
  flex-grow: 1;
}

.animals-header{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #d2bccf;
  padding: 16px;
  margin-bottom: 32px;
  background-color: rgba(115, 171, 87, 0.85);
  border-radius: 8px;

}

.animal-header-title{
  font-weight: bold;
  font-size: 32px;
  color: white;
  text-shadow: 2px 2px #000000;
}

.animal-header-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0px;
}

/*explain style*/

.explain-bg {
  color: white;
}

.big-explain {
  color: #3b1e1e;
  background-color: white;
  border-radius: 15px;
  justify-content: center;
  padding: 10px;
}

.little-explain {
  color: #660000;
}