mixin swooshyForm(swooshy, saveURL, cancelURl, deleteURL)
    form(action=saveURL method='post')
        div.input-container
            label(for='age') What age is your Swooshy?
            select([

            // resume on slide 15